nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.links {
  padding-left: 15px;
  color: inherit;
  text-decoration: none;
}

.logo {
  font-size: 2rem;
  color: inherit;
  text-decoration: none;
}
